
@{
    ViewData["Title"] = "CreateDashBoard";
}

<h1>CreateDashBoard</h1>
<h4 class="text-right text-primary"><a asp-action="LogOut" asp-controller="UserAccount" >logout</a></h4>
<h4 class="text-right text-danger" >Welcome @ViewBag.name</h4>
<h4 class="text-right text-danger">Welcome @ViewBag.lldt</h4>

